.banner {
    .banner-title {
        max-width: 328px;
        color: #414141;
        font-size: 34px;
        font-family: Lovelace;
        font-weight: 500;
        letter-spacing: 0.68px;
        margin-bottom: 142px;
        font-weight: 500;
    }
    .banner-decoration {
        position: absolute;
        right: 0;
        top: -10px;
    }
    .banner-form {
        padding: 21px 33px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 420px;
        width: 100%;
        border-radius: 10px;
background: linear-gradient(180deg, #B0D9A7 0%, #90B289 36.18%);
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
margin-bottom: 30px;
    }
    .banner-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .banner-text {
        color: #FFF;
text-align: center;
font-size: 20px;
    }
    .banner-label {
        width: 340px;
        input {
            width: inherit;
            padding: 22px;

border-radius: 7px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
border: none;
margin-bottom: 15px;
&::placeholder {
    color: #808080;
    font-size: 16px;
    font-family: Gilroy;
}
        }
    }
}
.banner-btn {
    width: 340px;
    padding: 25px 0;
    color: #FFF;
font-size: 20px;
font-family: Gilroy;
font-weight: 600;
text-transform: uppercase;
border-radius: 10px;
background: linear-gradient(180deg, #E3B99D 12.81%, #CDA18C 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
margin-bottom: 12px;
cursor: pointer;
}
.banner-descr {
    color: #FFF;
font-size: 16px;
font-family: Gilroy;
text-align: center;
}
.banner-timeout {
    color: #414141;
font-size: 22px;
font-family: Gilroy;
font-weight: 500;
text-align: center;
margin-bottom: 20px;
}
.banner-timeout-info {
    display: flex;
    align-items: center;
}