@font-face {
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gilroy-Regular') format('woff2');
}
@font-face {
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Gilroy-Medium') format('woff2');
}
@font-face {
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Gilroy-Semibold') format('woff2');
}
@font-face {
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Gilroy-Bold') format('woff2');
}
@font-face {
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lovelace-Medium') format('woff2');
}
