<section class="banner">
    <div class="container">
        <h1 class="banner-title">Доставка цветов из Алматы!</h1>
        <img class="banner-decoration" src="images/banner/decor.png" alt="decor">
        <form class="banner-form">
            <div class="banner-info">
                <div class="banner-text">Оставь заявку и получи скидку</div>
                <img class="banner-decor" src="images/banner/discount.png" alt="discount">
            </div>
            <label class="banner-label">
                <input type="text" class="banner-name" placeholder="Введите ваше имя">
            </label>
            <label class="banner-label">
                <input type="text" class="banner-phone" placeholder="Введите ваш номер телефона">
            </label>
            <button class="banner-btn" type="submit">Получить скидку 10%</button>
            <div class="banner-descr">Перезвоним через 3 минуты</div>
        </form>
        <div class="banner-timer">
            <div class="banner-timeout">Предложение актуально:</div>
            <div class="banner-timeout-info">
                <div class="banner-timeout-hours">03 :<br> <span>часов</span></div>
                <div class="banner-timeout-minutes">34 :<br> <span>минут</span></div>
                <div class="banner-timeout-seconds">22 :<br> <span>секунд</span></div>
            </div>
        </div>
    </div>
</section>